<h1>Salut! Veuillez confirmer votre email svp!</h1>

<p>
    Veuillez svp confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur les routes!
</p>
