<header>

    <div class="header">
	    <a href=""><img src="{{ asset('img/ologo.jpg')}}" alt="logo o'backpack" id="logomenu"></a>
    </div>

    <nav id="menu">
        <div class="nav">
            <ul class="nav-menu">
                <li class="nav-item"><a href="" class="nav-link">Se connecter / S'enregistrer</a></li>
                <li class="nav-item"><a href="" class="nav-link">Destination</a></li>
                <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="" class="nav-link">Forum</a></li>
                <li class="nav-item"><a href="" class="nav-link">Annonces</a></li>
                <li class="nav-item"><a href="" class="nav-link">Recherche</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
	
</header>
