{% extends 'base.html.twig' %}

{% block subtitle %} - Construction {% endblock %}

{% block content %}
    <div class="title">
        <div class="imageandtitle-error">
            <h2>{{title}}</h2>
        </div>
    </div>

    <div class="construct">
        <p>
            Bonjour, nous sommes au regrès de vous annoncer que la page demandée n'est pas disponible pour le moment.
        </p>
        <p>
            En cours de construction ...</p>
            <img class="construction" src="{{ asset('img/construction.png')}}" alt="En construction">
        
        <p>
            Les supers nanas vous proposent de retourner à  <a href="{{path('main_home')}}">l'accueil</a>  
        </p>
    </div>
{% endblock %}