{% extends 'base.html.twig' %}

{% block subtitle %} - Accueil  {% endblock %}

{% block content %}
	
    <div class="carrousel">
        carrousel
    </div>

    <div class="threelastposts">
        <h3>Nos 3 derniers articles</h3>
    </div>

    <div class="lastposts">
        <div class="post">
            <div class="postleft">
                <figure class="postpic">
                    <img src="" alt="photo illustrant l'article">
                </figure>
            </div>
            <div class="postright">
                <h4>titre de l'article</h4>
                <div class="postbeginning">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius placerat purus vel volutpat. Fusce non velit nec quam euismod posuere vel eget diam. Praesent.  
                </div>
                <div class="continue">
                    Lire la suite
                </div>
            </div>
        </div>
        
        <div class="post">
            <div class="postleft">
                <figure class="postpic">
                    <img src="" alt="photo illustrant l'article">
                </figure>
            </div>
            <div class="postright">
                <h4>titre de l'article</h4>
                <div class="postbeginning">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius placerat purus vel volutpat. Fusce non velit nec quam euismod posuere vel eget diam. Praesent.  
                </div>
                <div class="continue">
                    Lire la suite
                </div>
            </div>
        </div>
        
        <div class="post">
            <div class="postleft">
                <figure class="postpic">
                    <img src="" alt="photo illustrant l'article">
                </figure>
            </div>
            <div class="postright">
                <h4>titre de l'article</h4>
                <div class="postbeginning">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius placerat purus vel volutpat. Fusce non velit nec quam euismod posuere vel eget diam. Praesent.  
                </div>
                <div class="continue">
                    Lire la suite
                </div>
            </div>
        </div>
    </div>

{% endblock %}
