{% extends 'base.html.twig' %}

{% block subtitle %} - Les Supers Nanas  {% endblock %}

{% block content %}
    <div class="imageandtitle">
        <img src="#" alt="image monde" class="continentspec">
        <h2>La Team du GirlPower</h2>
    </div> 
    <div class="teamList">
        
            <div class="team">
                <img  src="{{ asset('img/clelia.png')}}" alt="Clelia">
                <p>Clélia</p>
                <p>Product-Owner</p>
            </div>
            <div class="team">
                <img  src="{{ asset('img/vivi.png')}}" alt="Viviane">
                <p>Viviane</p>
                <p>Lead-Dev front</p>
            </div>
            <div class="team" >
                <img  src="{{ asset('img/samia.png')}}" alt="Samia">
                <p>Samia</p>
                <p>Lead-dev back et GitMaster</p>
            </div>
            <div class="team">
                <img  src="{{ asset('img/celine.png')}}" alt="Celine">
                <p>Céline</p>
                <p>Scrum Master</p>
            </div>
       
    </div>
{% endblock %}