{% extends 'base.html.twig' %}

{% block subtitle %} - Les Supers Nanas  {% endblock %}

{% block content %}

    <div class="imageandtitle">
        <img src="" alt="image monde" class="continentspec">
        <h2>La Team du GirlPower</h2>
    </div> 
    <ul>
        <li>
            <img src="" alt="">
                <p>Clélia</p>
                <p>Product-Owner</p>
            </img>
        </li>
        <li>
            <img src="" alt="">
                <p>Viviane</p>
                <p>Lead-Dev front</p>
            </img>
        </li>
        <li>
            <img src="" alt="">
                <p>Samia</p>
                <p>Lead-dev back et GitMaster</p>
            </img>
        </li>
        <li>
            <img src="" alt="">
                <p>Céline</p>
                <p>Scrum Master</p>
            </img>
        </li>
    </ul>
{% endblock %}