{% extends 'base.html.twig' %}

{% block subtitle %} - Les Supers Nanas  {% endblock %}

{% block content %}
    <div class="imageandtitle">
        <img src="#" alt="image monde" class="continentspec">
        <h2>La Team du GirlPower</h2>
    </div> 
    <ul>
        <li>
            <img src="#" alt="Clelia">
                <p>Clélia</p>
                <p>Product-Owner</p>
            
        </li>
        <li>
            <img src="#" alt="Viviane">
                <p>Viviane</p>
                <p>Lead-Dev front</p>
            
        </li>
        <li>
            <img src="#" alt="Samia">
                <p>Samia</p>
                <p>Lead-dev back et GitMaster</p>
            
        </li>
        <li>
            <img src="#" alt="Celine">
                <p>Céline</p>
                <p>Scrum Master</p>
            
        </li>
    </ul>
{% endblock %}