.continentspec{
    background-image: url(../img/continent/europe.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}