.continentspec{
    background-image: url(../img/continent/oceanie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}