
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* general */

html {
    background-color: #155472;
    color: #F7F2EB;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

main {
    display: block;
    max-width: 90%;
    text-align: center;
    margin: 2em auto;
}

h2 {
    background-color: #D87151;
    padding: 0.8em;
    width: 55%;
    border-radius: 5px;
    border: 1px solid #EEBC69;
    margin: auto auto 1em auto;
}

/* header */

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logomenu {
    max-height: 80px;
    padding-left: 1em;
}

/* nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    font-size: 10.em;
    list-style: none;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    color:  #F7F2EB;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2em;
    margin-top: 2.5em;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-top: 0.5em;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EEBC69;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    margin-left: 2em;
}

.nav-link{
    font-size: 1.2em;
    font-weight: 400;
    color: #EEBC69;
}

.nav-link:hover{
    font-size: 1.2em;
    color: #F7F2EB;
}

.nav-ul a:hover {
    font-size: 1.2em;
    text-decoration: none;
    color: #EEBC69;
    transition: 0.3s;
}



/* footer */

footer {
    font-size: 0.8em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #D87151;
    text-align: center;
    justify-content: center;
    padding: 0.5em 0;
    border-top: 1px solid #EEBC69;
}

/* home */

h3 {
    font-style: italic;
    padding: 1em;
}

.threelastposts {
    background-color: #32AAAA;
    border-radius: 7px;
    border: 2px groove #F7F2EB;
    margin-top: 1em;
}

.lastposts {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
    margin: 1em auto;
}

.post {
    display: flex;
    flex-wrap: wrap;
    background-color: #32AAAA;
    border-radius: 7px;
    border: 2px groove #EEBC69;
    margin-top: 1em;
    padding: 1em;
}

.postleft {
    width: 30%;
}

.postright {
    width: 70%;
    text-align: left;
    padding-left: 0.5em;
}

.postpic img{
    width:100%;
}
.fullComment {
    width: 70%;
    text-align: left;
}
.commentProfile{
    width: 27%;
    display: flex;
    flex-direction: column;
}
.miniAvatarPost{
    max-width: 10%;
}
.miniAvatar {
    max-width: 25%;
}

h4 {
    color: #EEBC69;
    margin-bottom: 0.2em;
}

/* continent */

.continentul {
    display: flex;
    flex-wrap: wrap;
}

.continentli {
    width: 40%;
    background-color: #32AAAA;
    border-radius: 7px;
    border: 2px groove #EEBC69;
    margin: 0.3em auto;
    padding: 2em;
}

.continentall {
    width: 100%;
}

/* In progress */

.construction {
    width: 60%;
}
/* team */
.team img {
    width: 100%;
}
.teamList{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.team {
    width: 20%;
    margin:0.5em;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 2rem;
        flex-direction: column;
        background-color: #32AAAA;
        width: 100%;
        border-radius: 10px;
        text-align:right;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .team {
        width: 40%;
        margin:0.5em;
    }

}