{% extends 'base.html.twig' %}

{% block subtitle %} - Pays  {% endblock %}

{% block content %}

 	<div class="imageandtitle">
        <img src="" alt="image monde" class="continentspec">
        <h2>Choisisssez un pays</h2>
    </div>
	liste des pays par continent
{% endblock %}
