{% extends 'base.html.twig' %}

{% block subtitle %} - Pays  {% endblock %}

{% block content %}

 	<div class="imageandtitle">
        <img src="" alt="image monde" class="continentspec">
        <h2>{{country.name}}</h2>
    </div>
    
    
{% endblock %}