{% extends 'base.html.twig' %}

{% block subtitle %} - Zone géographique  {% endblock %}

{% block content %}

    <div class="imageandtitle">
        <img src="" alt="image monde" class="continentall">
        <h2>Choisisssez une zone géographique</h2>
    </div>

	<ul class="continentul">
	    <li class="continentli"><a href="">Europe</a></li>
        <li class="continentli"><a href="">Asie</a></li>
        <li class="continentli"><a href="">Afrique</a></li>
    </ul>
{% endblock %}
