{% extends 'base.html.twig' %}

{% block title %}
	Ajout d'article
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>
			Ajout d'article
		</h2>
	</div>

{{form(form)}}

{% endblock %}