{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>
			Articles
		</h2>
	</div>

	<h3>
		Recherche
	</h3>
	<h3>
		Filtre
	</h3>

	<div class="blog_post">
		<ul>
			<img src="" alt="picture_photo_1">
			<li>
				Title : Le tour du monde en 80jrs
			</li>
			<li>
				Extract : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dicta, illum eius aperiam nobis facere dolorum, quidem rerum perferendis quis fuga explicabo nulla molestias porro omnis voluptate harum. Laborum, qui.
			</li>

		</ul>
	</div>

		<div class="blog_post">

		<ul>
			<img src="" alt="picture_photo_2">
			<li>
				Title : Mon road trip en Europe
			</li>
			<li>
				Extract : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dicta, illum eius aperiam nobis facere dolorum, quidem rerum perferendis quis fuga explicabo nulla molestias porro omnis voluptate harum. Laborum, qui.
			</li>

		</ul>
	</div>

		<div class="blog_post">

		<ul>
			<img src="" alt="picture_photo_3">
			<li>
				Title : On Road 66
			</li>
			<li>
				Extract : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dicta, illum eius aperiam nobis facere dolorum, quidem rerum perferendis quis fuga explicabo nulla molestias porro omnis voluptate harum. Laborum, qui.
			</li>

		</ul>
	</div>


{% endblock %}
