{% extends 'base.html.twig' %}

{% block title %}
Blog
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>
			Blog
		</h2>
	</div>

	<h3>
		Recherche
	</h3>
	<h3>
		Filtre
	</h3>

	<div>
		<ul>
			<li>
				Title : Le tour du monde en 80jrs
			</li>
			<li>Author:
			</li>
			<li>Publication Date: 01/01/1901
			</li>
			<li>Update date:21/07/2021
			</li>
			<li>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dicta, illum eius aperiam nobis facere dolorum, quidem rerum perferendis quis fuga explicabo nulla molestias porro omnis voluptate harum. Laborum, qui.</li>
		</ul>

		<h3>Lire nos articles</h3>
	</div>
	<div class="blog_carousel">

		<img src="" alt="Picture 1">
		<img src="" alt="Picture 2">
		<h3>Galerie photo // Pictures links</h3>
	</div>

{% endblock %}
