{% extends 'base.html.twig' %}

{% block title %}
	Galerie {{continent.name}}
{% endblock %}

{% block content %}

	<div class="title">
		<h2>
			{{continent.name}}
		</h2>
	</div>

	<p class="return">
		<a href="{{ path('blog_gallery') }}">Retour à la galerie</a>
	</p>

	<section class="uniq continentpictures">
		<div class="continentname">
			
		</div>
		<div class="continent">

			{% for picture in pictures %}

				<img class="item" src="{{ picture.urls.regular }}" alt="Picture1">
			
			{% endfor %}
			
		</div>
	</section>
</section>{% endblock %}
