{% extends 'base.html.twig' %}

{% block title %}
	Galerie
{% endblock %}

{% block content %}

	<div class="imageandtitle">
		<img src="" alt="image monde" class="continentspec">
		<h2>
			Galerie Photo
		</h2>
	</div>

	<section class="gallery continentul">
		<div class="continentli">
			<a class="left">
				<span class="left_arrow">&lt;</span>
			</a>
			<img src="pic.jpg" alt="pic">
			<a class="right">
				<span class="right_arrow">&gt;</span>
			</a>

			<div>
				{{continent.name}}
			</div>

		</div>

	</section>
{% endblock %}
