{% extends 'base.html.twig' %}

{% block subtitle %} {{ title }}  {% endblock %}

{% block content %}
    <div class="imageandtitle">
        <img src="#" alt="image monde" class="continentspec">
        <h2>{{ title }}</h2>
    </div> 
    <div class="article">
        <h3>Article 1</h3>
        <img src="#" alt="#">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis vitae illo debitis ullam ipsum cum architecto ut maiores alias voluptatum quasi officiis ipsa placeat vero, nisi, adipisci sequi minima consequatur animi accusantium minus nesciunt. Facere quas quisquam, hic labore, quis quam autem iure sed quasi, soluta dicta quia repellendus. </p>
        <p>Auteur : Tata Yoyo</p>
        <a href="#">Lire la suite</a>
    </div>
    <div class="article">
        <h3>Article 2</h3>
        <img src="#" alt="#">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis vitae illo debitis ullam ipsum cum architecto ut maiores alias voluptatum quasi officiis ipsa placeat vero, nisi, adipisci sequi minima consequatur animi accusantium minus nesciunt. Facere quas quisquam, hic labore, quis quam autem iure sed quasi, soluta dicta quia repellendus. </p>
        <p>Auteur : Tonton Charles</p>
        <a href="#">Lire la suite</a>
    </div>
    <div class="article">
        <h3>Article 3</h3>
        <img src="#" alt="#">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis vitae illo debitis ullam ipsum cum architecto ut maiores alias voluptatum quasi officiis ipsa placeat vero, nisi, adipisci sequi minima consequatur animi accusantium minus nesciunt. Facere quas quisquam, hic labore, quis quam autem iure sed quasi, soluta dicta quia repellendus. </p>
        <p>Auteur : Madame Michu</p>
        <a href="#">Lire la suite</a>
    </div>
    <div class="article">
        <h3>Article 4</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis vitae illo debitis ullam ipsum cum architecto ut maiores alias voluptatum quasi officiis ipsa placeat vero, nisi, adipisci sequi minima consequatur animi accusantium minus nesciunt. Facere quas quisquam, hic labore, quis quam autem iure sed quasi, soluta dicta quia repellendus. </p>
        <p>Auteur : Monsieur Michu</p>
        <a href="#">Lire la suite</a>
    </div>
    <div class="article">
        <img src="#" alt="#">
        <h3>Kebab</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, perferendis vitae illo debitis ullam ipsum cum architecto ut maiores alias voluptatum quasi officiis ipsa placeat vero, nisi, adipisci sequi minima consequatur animi accusantium minus nesciunt. Facere quas quisquam, hic labore, quis quam autem iure sed quasi, soluta dicta quia repellendus. </p>
        <p>Auteur : Charles</p>
        <a href="#">Lire la suite</a>
    </div>

{% endblock %}