{% extends 'base.html.twig' %}

{% block subtitle %} {{ title }}  {% endblock %}

{% block content %}
    <div class="imageandtitle">
        <img src="#" alt="image monde" class="continentspec">
        <h2>{{ title }}</h2>
    </div> 
    <section>
        <div class="post">
            <div class="postleft">
                <figure class="postpic">
                    <img src="#" alt="photo illustrant l'article">
                </figure>
            </div>
            <div class="postright">
                <h4>{{ title }}</h4>
                <div class="postbeginning">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ullam! Ipsum sequi, aut fugiat voluptatum cumque voluptatem repellat iure eius, minima a quo distinctio placeat facere blanditiis. Dolorum officia, sint aliquid odit, est neque, iure fugiat adipisci facilis repudiandae sunt! Maxime porro, iusto dolor quo blanditiis dicta quos ex ratione sit saepe vitae, est minus, nostrum rerum incidunt ad atque accusamus quaerat quae. Provident, esse labore. Tempore mollitia soluta fugit obcaecati quidem, maxime accusamus est consequatur quod quaerat vitae praesentium itaque eum tempora! Dicta ipsum, temporibus delectus, at repellendus libero et, dignissimos incidunt corrupti facilis eum possimus eveniet fugit soluta provident harum rem voluptatem magni quas autem placeat explicabo. Officiis, illo commodi. Tempore ex quaerat accusantium odit et omnis laborum quibusdam esse aliquam rerum culpa voluptatum placeat animi neque perferendis dolorum inventore accusamus, laboriosam itaque aut voluptas nam. Cum molestias odit consequuntur minus, assumenda fuga vitae quis nemo omnis distinctio quisquam accusantium, ducimus fugiat sed. Cumque nesciunt asperiores voluptates ipsum repellendus iure quae dolore veritatis eos maxime labore porro cum quasi sunt id quos debitis et alias, nulla molestiae quia dignissimos aspernatur corrupti reiciendis. Veniam, repellendus! Minima quisquam ut ducimus voluptatibus. Recusandae a sapiente harum aperiam velit perspiciatis provident quia laudantium inventore fugiat, alias obcaecati doloribus sed odit voluptates aliquid, earum porro numquam dolorem nam? Cupiditate vitae autem ex mollitia dicta, optio sed amet nihil repudiandae modi rerum illo quam quisquam quae, error eos exercitationem dolores similique, laboriosam beatae facere. Exercitationem magni maxime qui harum! Sed odit animi sequi laborum.
                </div>
                <div>
                    <p>Auteur : Tata Yoyo <img src="#" alt="avatarYoyo"> </p> 
                    <p>Date de publication : 20/07/2021</p>
                </div>
            </div>
        </div>
    </section>
    
    <section >
        <form action=""> ajouter un commentaire</form>     
        <div class="post">
            <p>auteur : fabiooclock <img src="#" alt="avatarFabio"></p>
            <p>commentaire Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima modi nobis adipisci blanditiis! Ipsum.</p>
        </div>   
        <div class="post">
            <p>auteur : gregoclock  <img src="#" alt="avatarGreg"></p>
            <p>commentaire 1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, sapiente.</p>     
        </div>
        <div class="post">
            <p>auteur : charlesoclock <img src="#" alt="avatarCharles"></p>
            <p>commentaire 2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam maxime itaque distinctio sit velit earum minus, possimus et aliquam ratione. </p>
        </div>
        <div class="post">
            <p>auteur : alexisoclock <img src="#" alt="avatarAlexis"></p>
            <p>commentaire 3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, dignissimos. </p>
        </div>
        <div class="post">
            <p>auteur : mickaeloclock <img src="#" alt="avatarMickael"></p>
            <p>commentaire 4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, sint.</p>
        </div>
        <div class="post">
            <p>auteur : julienoclock  <img src="#" alt="avatarJulien"></p>
            <p>commentaire 5 Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="post">
            <p>auteur : morganoclock  <img src="#" alt="avatarMorgan"></p>
            <p>commentaire 6 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cum dignissimos perspiciatis odio nam ab corrupti velit qui soluta perferendis?</p>
        </div>
        <div class="post">
            <p>auteur : christopheoclock <img src="#" alt="avatarChristophe"></p>
            <p>commentaire 7 Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima modi nobis adipisci blanditiis! Ipsum.</p>
        </div>
        
    </section>

        
{% endblock %}