{% extends 'base.html.twig' %}

{% block subtitle %}Page introuvable - 404{% endblock %}

{% block content %}
    <div class="imageandtitle-error">
        <h2>ROUTE 404</h2>
    </div>

    <div>
        <p>
           Vous vous êtes trompés de route...
        </p>
        <p>
            <img class="construction" src="{{ asset('img/error.jpg')}}" alt="error">
        </p>
        <p>
            Les supers nanas vous proposent de retourner à  <a href="{{path('main_home')}}">l'accueil</a>
        </p>
    </div>

{% endblock %}