{% extends 'base.html.twig' %}  
  
{% block title %}Channel{% endblock %}  
  
{% block content %}  
  
<div class="channel-container">  
	<div class="title">
		<h2>Channel</h2>
	</div>
    {% if app.user %}  
        <div class="">  
            Bienvenue {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a>  
        </div>  
    {% endif %}  
    {% if channels %}  
        <h2>Quel channel souhaitez-vous rejoindre?</h2>  
        <table class="">  
            <tbody>  
            {% for channel in channels %}  
                <tr class="">  
                    <th>  
                        <span>{{ channel.name }}</span>  
                        <a class="" href="{{ path('chat', {id: channel.id}) }}">Aller sur le chat !</a>  
                    </th>  
                </tr>  
            {% endfor %}  
            </tbody>  
        </table>  
    {% else %}
        <div>
            <div class="alert alert-danger text-center">Pas de channel trouvé.</div>
        </div>
    {% endif %}
</div>  
{% endblock %}