{% extends 'base.html.twig' %}

{% block subtitle %}Votre espace{% endblock %}

{% block content %}

    <p>Nom : {{ app.user.name }}</p>
    <p>Prénom : {{ app.user.firstname }}</p>
    <p>E-mail : {{ app.user.email }}</p>

{% endblock %}
